@import "../../assets/styles/colors.scss";

.input-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  input, label {
    font-size: 1.4rem;
    padding: 0 0.6rem;
    margin: 0.5rem;
    height: 2rem;
  }

  label {
    width: 10rem;
    background: $pink;
    border-radius: 5px;
    text-align: left;
  }

  input {
    width: 20rem;
    background: none;
    border-bottom: 3px solid $black;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 0.3s;

    &:hover {
      border-bottom: 3px solid $pink;
    }
  }

  .submit-button {
    background: $lemon;
    color: $black;
    border-radius: 5px;
    border: none;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    transition: 0.3s;

    &:hover {
      background: $lilac;
      cursor: pointer;
      border: 3px solid $black;
    }
  }
}