@import "../../assets/styles/colors.scss";
@import "../../assets/styles/screen-sizes.scss";

.result-container {
  height: 2.5rem;
}

.result {
  color: $black;
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  width: 100%;
  margin: 0;

  @media (max-width: $desktop-min) {
    margin: -1rem 0;
  }
}